@import url(https://fonts.bunny.net/css?family=cinzel:600);

/**
* Headers
*/

.md-content h1,
.md-content h2,
.md-content h3,
.md-content h4,
.md-content h5 {
    font-family: 'Cinzel', serif;
    margin: 0 !important;
    padding: 0 !important;
}

.md-content h1 {
    text-align: center;
    padding-bottom: 1em !important;
}

.md-content h2 {
    border-bottom: 1px dotted rgba(255, 255, 255, 0.25);
}

/**
* Tables
*/

.md-typeset__table {
    width: 100%;
}

.md-typeset__table table:not([class]) {
    display: table
}

/**
* Lists
*/

li {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.md-content ul {
    list-style-type: square !important;
}

.md-content ul ul {
    list-style-type: "\25B8" !important;
}

.md-content ul ul ul {
    list-style-type: disc !important;
}


/**
* Content
*/

.md-content {
    /* text-align: justify; */
}

/**
* Copyright
*/

div.md-copyright {
    width: 100%;
    text-align: center;
}

div.md-copyright a {
    color: #4051b5 !important;
}

/**
* Tiers Badges.
*/

.tier-wrapper {
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    padding: 0px 4px;
    word-break: break-all;
}

.tier-name {
    padding: 0px 4px;
}

.tier-badge {
    align-items: center;
    border-radius: 20%;
    display: inline-flex;
    font-size: small;
    height: 1em;
    justify-content: center;
    width: 1em;
}

.tier-0 {
    background-color: #7f8c8d;
    color: #111111;
}

.tier-1 {
    background-color: #3498db;
    color: #111111;
}

.tier-2 {
    background-color: #1abc9c;
    color: #111111;
}

.tier-3 {
    background-color: #f1c40f;
    color: #111111;
}

.tier-4 {
    background-color: #e67e22;
    color: #111111;
}

.tier-5 {
    background-color: #e74c3c;
    color: #111111;
}

/**
* Custom header
*/

div#md-header-nycta {
    background-color: hsl(231, 20%, 20%);
}

@media (min-width: 768px) {
    div#md-header-nycta {
        display: flex;
        justify-content: center;
        gap: 10px;
    }
}

div#md-header-nycta>div {
    font-size: 1.25em;
    overflow: hidden;
    padding: 0.5em;
    text-overflow: ellipsis;
    white-space: nowrap;
}